<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script>
        (function() {
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme === "dark") {
                document.documentElement.classList.add("dark-theme");
            }
        })();
    </script>

    <title>Home Page</title>
    <!--<link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">-->
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>

<header hx-get="components/header.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></header>

<aside hx-get="components/sidebar.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></aside>

<main>
    <div id="content-container" hx-target="this"></div>
</main>

<footer hx-get="components/footer.html" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></footer>

<script src="js/htmx.min.js"></script>
<script type="module" src="js/index.js"></script>
</body>
</html>
