# Dependencies
/node_modules

# Testing
/coverage

# Production builds
/build
/dist

# System files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*

# IDE and editors
/.idea
/.vscode
*.swp
*.swo

# Environment variables
server/.env
