.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.glass {
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 10px 10px 30px var(--shadow-dark),
    -10px -10px 30px var(--shadow-light);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-toggle button {
    flex: 1;
    padding: 0.8rem;
    margin: 0 0.25rem;
    border: none;
    border-radius: 12px;
    background: var(--bg-color);
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 15px var(--shadow-dark),
    -5px -5px 15px var(--shadow-light);
    transition: 0.3s;
}

.form-toggle button.active {
    color: var(--primary-color); /*FF6F61*/
    box-shadow: inset 3px 3px 7px var(--shadow-dark),
    inset -3px -3px 7px var(--shadow-light);
}

.form {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.form.active {
    display: flex;
}

input {
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    background: var(--input-bg);
    color: var(--text-color);
    box-shadow: inset 2px 2px 5px var(--shadow-dark),
    inset -2px -2px 5px var(--shadow-light);
    transition: 0.3s;
}

input:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px var(--shadow-dark),
    inset -1px -1px 2px var(--shadow-light);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: var(--text-color);
    transition: background-color 5000s ease-in-out 0s;
}

button[type="submit"] {
    padding: 0.8rem;
    border-radius: 12px;
    border: none;
    background: var(--bg-color);
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 15px var(--shadow-dark),
    -5px -5px 15px var(--shadow-light);
    transition: 0.3s;
}

button[type="submit"]:hover {
    box-shadow: inset 3px 3px 7px var(--shadow-dark),
    inset -3px -3px 7px var(--shadow-light);
    color: var(--primary-color);
}

.input-error {
    border: 1px solid red !important;
}

.error-message {
    color: red;
    font-size: 0.85rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    padding-left: 0.3rem;
}
