@import "global.css";
@import "header.css";
@import "sidebar.css";
@import "boards.css";
@import "tasks.css";
@import "info.css";
@import "budget.css";
@import "footer.css";

main {
    flex: 1;
    padding: 2rem;
    margin-left: 60px;
    transition: margin-left 0.3s ease;
}



