<footer>
    <ul class="social-links">
        <li class="social-link">
            <a href="#" class="social-link_item">
                <i class="fa-brands fa-linkedin-in"></i>
                LinkedIn
            </a>
        </li>
        <li class="social-link">
            <a href="#" class="social-link_item">
                <i class="fa-regular fa-envelope"></i>
                Email
            </a>
        </li>
        <li class="social-link">
            <a href="#" class="social-link_item">
                <i class="fa-brands fa-github"></i>
                GitHub
            </a>
        </li>
    </ul>
</footer>

