<header class="top-bar">
    <div class="logo">
        <img src="assets/icons/logo.svg" alt="Logo">
    </div>

    <div class="avatar">
        <div id="avatar-icon" title="Avatar">
            <i class="fa-regular fa-circle-user"></i>
        </div>

        <div class="avatar-menu" id="avatar-menu">
            <ul>
                <li><a href="#">Change profile</a></li>
                <li><a href="#">Add New Board</a></li>
                <li><a href="#">Add New List</a></li>
                <li><button id="logoutBtn">Logout</button></li>
            </ul>
        </div>
    </div>

    <div class="theme-toggle">
        <input type="checkbox" id="theme-switch">
        <label for="theme-switch" id="theme-icon">
            <i class="fa-regular fa-sharp fa-moon"></i>
        </label>
    </div>

</header>
