<aside id="sidebar" class="sidebar">
  <ul class="menu">
    <li>
      <button hx-get="components/boards.html" hx-target="#content-container" hx-swap="innerHTML">
        <i class="fas fa-tasks"></i>
        <span class="label">Boards</span>
      </button>
    </li>
    <li>
      <button hx-get="components/gallery.html" hx-target="#content-container" hx-swap="innerHTML">
        <i class="fas fa-image"></i>
        <span class="label">Gallery</span>
      </button>
    </li>
    <li>
      <button hx-get="components/lists.html" hx-target="#content-container" hx-swap="innerHTML">
        <i class="fas fa-list-check"></i>
        <span class="label">Lists</span>
      </button>
    </li>
  </ul>
</aside>
