<aside id="sidebar" class="sidebar">
  <ul class="menu">
    <li>
      <button hx-get="components/boards.html" hx-target="#content-container" hx-swap="innerHTML">
        <i class="fa-solid fa-bars-progress"></i>
        <span class="label">Boards</span>
      </button>
    </li>
    <li>
      <button hx-get="components/gallery.html" hx-target="#content-container" hx-swap="innerHTML">
        <i class="fas fa-image"></i>
        <span class="label">Gallery</span>
      </button>
    </li>
    <li>
      <button hx-get="components/lists.html" hx-target="#content-container" hx-swap="innerHTML">
        <i class="fas fa-list-check"></i>
        <span class="label">Lists</span>
      </button>
    </li>
  </ul>

  <ul class="menu settings">
    <li>
      <button hx-get="components/profile.html" hx-target="#content-container" hx-swap="innerHTML">
        <i class="fa-solid fa-circle-user"></i>
        <span class="label">Profile</span>
      </button>
    </li>
    <li>
      <button id="logoutBtn">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="label">Logout</span>
      </button>
    </li>
  </ul>

</aside>
